@using Microsoft.AspNetCore.Identity
@inject SignInManager<TTUser> SignInManager
@inject UserManager<TTUser> UserManager
@*//ADD #01 Intro*@
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        TTUser ttUser = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @ttUser.FullName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark rounded-pill alert-danger">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark  rounded-pill alert-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark  rounded-pill btn-outline-info" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
